{% extends 'layout/base.html' %}

{% block title %}Đặt lịch khám{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

{% if current_user.is_authenticated %}
<section class="appointment-section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 shadow-lg rounded-3 bg-light p-4">
                <h1 class="text-center text-primary mb-4">Đặt Lịch Khám</h1>

                {% if err_msg %}
                <div class="alert alert-danger">{{ err_msg }}</div>
                {% endif %}

                {% if success_msg %}
                <div class="alert alert-success">{{ success_msg }}</div>
                {% endif %}

                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-4">
                        <label for="buoiKham" class="form-label">Chọn buổi khám:</label>
                        <select class="form-select rounded-pill" id="buoiKham" aria-label="Chọn buổi khám" name="time">
                            {% for t in time %}
                            <option value="{{ t.id }}">{{ t.period }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group mb-4">
                        <label for="ngayKham" class="form-label">Ngày khám:</label>
                        <input type="date" class="form-control rounded-pill" id="ngayKham" name="date" placeholder="Chọn ngày khám">
                    </div>

                    <div class="form-group mb-4">
                        <label for="trieuchung" class="form-label">Triệu chứng:</label>
                        <textarea class="form-control rounded-3" id="trieuchung" name="symptom" placeholder="Triệu chứng" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg rounded-pill w-100">Xác nhận <i class="fas fa-check"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

{% else %}
<div class="container mt-5 text-center">
    <h3 class="text-info">
        <a href="/login" class="text-decoration-none text-primary">ĐĂNG NHẬP ĐỂ ĐƯỢC ĐẶT LỊCH KHÁM</a>
    </h3>
</div>
{% endif %}


{% endblock %}
