{% extends 'layout/base.html' %}

{% block title %}Lịch sử khám bệnh{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1>Lịch Sử Khám Bệnh</h1>
<div class="calendar-container" style="margin-bottom: 50px; margin-top: 50px">

    <table class="table table-bordered shadow-lg rounded" style="text-align: center">
        <thead style="background-color: #0064ff;">
        <tr>
            <th>Ngày</th>
            <th>Khung giờ</th>
            <th>Xác nhận</th>
            <th>Xem kết quả khám</th>
            <th>Xem hóa đơn</th>
        </tr>
        </thead>
        <tbody style="background-color:#00ffff;">
        {% for appointment in appoint %}
        <tr>
            <td>{{ appointment.booked_date.strftime('%d/%m/%Y') }}</td>
            <td>{{ appointment.time.period }}</td>
            <td>
                {% if appointment.isKham %}
                <span class="badge bg-success">Đã khám</span>
                {% else %}
                <span class="badge bg-warning">Chưa khám</span>
                {% endif %}
            </td>
            <td>
                {% if appointment.isKham %}
                <a href="{{ url_for('history_prescription_details', appointment_id=appointment.id) }}"
                   class="btn btn-info">
                    Xem chi tiết
                </a>
                {% endif %}
            </td>
            <td>
                {% if appointment.isKham %}
                <a href="{{ url_for('invoice_details', appointment_id=appointment.id) }}" class="btn btn-warning">
                    Xem hóa đơn
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
