{% extends 'layout/base.html' %}

{% block title %}Lịch khám bệnh{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

{% if current_user.is_authenticated and current_user.type=="patient" %}
<h1 class="text-center text-primary my-4">Lịch Khám Bệnh</h1>
<div class="calendar-container mx-auto" style="max-width: 800px; margin-bottom: 100px; margin-top: 50px;">
    <table class="table table-hover table-bordered text-center shadow-lg rounded">
        <thead class="bg-primary text-white">
        <tr>
            <th scope="col" class="py-3">Ngày</th>
            <th scope="col" class="py-3">Khung giờ</th>
            <th scope="col" class="py-3">Xác nhận</th>
            <th scope="col" class="py-3">Trạng thái khám</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appoint %}
        <tr>
            <td>{{ appointment.booked_date.strftime('%d/%m/%Y') }}</td>
            <td>{{ appointment.time.period }}</td>
            <td>
                {% if appointment.lenLichKham %}
                <span class="badge bg-success">Đã xác nhận</span>
                {% else %}
                <span class="badge bg-warning">Chưa xác nhận</span>
                {% endif %}
            </td>
            <td>
                {% if appointment.isKham %}
                <span class="badge bg-success">Đã khám</span>
                {% else %}
                <span class="badge bg-danger">Chưa khám</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%endif%}

{% endblock %}