{% extends 'layout/base.html' %}

{% block title %}Lịch khám bệnh{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1>Lịch Khám Bệnh</h1>
<div class="calendar-container" style="margin-bottom: 50px; margin-top: 50px">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ngày</th>
                <th>Khung giờ</th>
                <th>Xác nhận</th>
                <th>Trạng thái khám</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appoint %}
            <tr>
                <td>{{ appointment.booked_date.strftime('%d/%m/%Y') }}</td>
                <td>{{ appointment.time.period }}</td>
                <td>
                    {% if appointment.lenLichKham %}
                    <span class="badge bg-success">Đã xác nhận</span>
                    {% else %}
                    <span class="badge bg-warning">Chưa xác nhận</span>
                    {% endif %}
                </td>
                  <td>
                    {% if appointment.isKham %}
                    <span class="badge bg-success">Đã khám</span>
                    {% else %}
                    <span class="badge bg-warning">Chưa khám</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}