{% extends 'admin/master.html' %}

{% block body %}

<head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</head>

{% if current_user.is_authenticated %}

<h1>CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ</h1>

<div class="row" style="margin-top: 5%">
    <div class="col-md-5">
        <div>
            <h2 class="d-inline-block text-uppercase text-primary h1 font-weight-bold">BẢNG ĐIỀU KHIỂN</h2>
             <p class="lead">Chào mừng bạn đến với bảng điều khiển quản trị. Quản lý hoạt động của bệnh viện, theo dõi và truy cập dữ liệu quan trọng.</p>
             <p>Hãy thoải mái khám phá các tính năng và chức năng khác nhau có sẵn cho bạn.</p>
        </div>
    </div>
    <div class="col-md-7">
        <img class="" style="width: 100%"
             src="/static/images/temp.jpg"
             alt="doctors">
    </div>
</div>



{% else %}
<h1>ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="/login-admin">

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tài khoản" name="username" pattern="[A-Za-z0-9]*" required>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
    </div>

    <div class="form-floating mt-3 mb-3">
      <button class="btn btn-success" type="submit">Đăng nhập</button>
    </div>

</form>
{% endif %}


{% endblock %}