{% extends 'admin/master.html' %}

{% block body %}

<head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>

<h1>Thống Kê Tần Suất Sử Dụng Thuốc Phòng Mạch Tư</h1>

<div class="row" style="margin:auto">
    <div class="col-md-6 col-xs-12" style = "margin-top: 7%">
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Tên thuốc</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
            </tr>
            {% for s in med %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form>
            <div class="form-group">
                <h4 class = "text-center" style = "margin-top: 5%">Lọc dữ liệu theo ngày</h4>
                <input style = "margin-top: 5%" type="text" placeholder="Nhập tên thuốc" name="kw" class="form-control"/>
            </div>
            <div style = "display: flex; justify-content: space-between">
                <div style="width: 45%" class="form-group">
                    <label>Từ ngày:</label>
                    <input type="date" name="from_date" class="form-control"/>
                </div>
                <div style="width: 45%" class="form-group">
                    <label>Đến ngày:</label>
                    <input type="date" name="to_date" class="form-control"/>
                </div>
            </div>
            <div>
                <input style = "margin-bottom: 10%" type="submit" value="Thống kê" class="btn btn-info"/>
            </div>
        </form>

        <div class="chart" style = "margin-bottom: 5%; width: 400px; height: 400px">
            <canvas id="medicineChart"></canvas>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script>
let data = [], labels=[]

    {% for s in med %}
        data.push({{ s[3] }})
        labels.push('{{ s[1] }}')
    {% endfor %}

    window.onload = function() {
        drawMedicineStats(labels, data)
    }

</script>
{% endblock %}