{% extends 'layout/base.html' %}

{% block title %}Chỉnh sửa thông tin cá nhân{% endblock %}

{% block content %}
<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

{% if current_user.is_authenticated %}
<div class=" container col-md-6 mx-auto mt-3">

    <form method="post" action="/info" enctype="multipart/form-data">
      <h1>Chỉnh Sửa Thông Tin Cá Nhân</h1>

      {%if success_msg%}
          <div class="alert alert-success">{{success_msg}}</div>
      {%endif%}

        <div class="mb-3">
            <label for="name" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="name" placeholder="{{ current_user.name }}" disabled>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="{{ current_user.email }}" disabled>
        </div>

        {% if current_user.type == "patient" %}
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="address" name="address" value="{{ current_user.address }}">
            </div>
            <div class="mb-3">
                {% if current_user.day_of_birth %}
                  <label for="day_of_birth1" class="form-label">Ngày sinh</label>
                  <input type="date" class="form-control" id="day_of_birth1" name="day_of_birth" value="{{ current_user.day_of_birth }}"
                >
                {% else %}
                  <label for="day_of_birth2" class="form-label">Ngày sinh</label>
                  <input type="date" class="form-control" id="day_of_birth2" name="day_of_birth" placeholder="Nhập năm sinh của bạn"
                       required>
                {% endif %}
            </div>
            <div class="mb-3">
                  <label for="gender" class="form-label">Giới tính</label>
                  <select class="form-select" id="gender" name="gender">
                      <option value="Nam" {% if current_user.gender=='Nam' %} selected {% endif %}>Nam</option>
                      <option value="Nữ" {% if current_user.gender=='Nữ' %} selected {% endif %}>Nữ</option>
                  </select>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="phone" name="phone" value="{{ current_user.phone }}">
            </div>
         {% endif %}

        {% if current_user.avatar %}
          <label for="avatar1" class="form-label">Avatar</label>
          <div>
              <img width="250px" class="img-rounder" src="{{ current_user.avatar }}">
              <input style="margin-top: 20px" type="file" class="form-control" id="avatar1" name="avatar">
          </div>
        {% else %}
          <label for="avatar2" class="form-label">Avatar</label>
          <div>
              <img width="250px" class="img-rounder" src="{{url_for('static', filename='images/default.jpg')}}">
              <input style="margin-top: 20px" type="file" class="form-control" id="avatar2" name="avatar">
          </div>
        {% endif %}
        <div class="d-flex justify-content-center" style="margin-bottom: 50px; margin-top: 50px">
            <button type="submit" class="btn btn-primary">Cập nhật thông tin</button>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 50px; margin-top: 50px;">
          <a href="/change-password">
            <button style=" background-color: green; border-color: green;" type="button" class="btn btn-primary">Đổi mật khẩu</button>
          </a>
        </div>
    </form>


</div>
{% endif %}

{% endblock %}