{%extends 'layout/base.html'%}

{% block title %}Giới thiệu{% endblock %}

{%block content%}

<header>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
</header>

<body>

<section class="container my-5">
    <div class="row" style="font-size: 20px;">
        <div class="col-md-6">
            <h2 style="font-weight: bold; margin-top: 50px">Về Phòng Khám Care Plus</h2>
            <p>Phòng khám Care Plus là nơi cung cấp dịch vụ y tế chất lượng cao với đội ngũ bác sĩ giàu kinh nghiệm và cơ sở
                vật chất hiện đại. Chúng tôi cam kết đem lại sự chăm sóc tận tình và hiệu quả cho mọi bệnh nhân.</p>
        </div>
        <div class="col-md-6" style="margin-top: 50px;">
            <img src="/static/images/about.jpeg" class="img-fluid" alt="Phòng khám">
        </div>
    </div>
</section>

<section class="doctors" style="font-size: 20px;">
    <h2 style="font-weight: bold; margin-top: 100px" class="text-center mb-4">Đội Ngũ Bác Sĩ</h2>
    <div class="doctor">
        <h3>Bác sĩ Trần Nguyễn Đức Minh</h3>
        <p><strong>Chuyên khoa:</strong> Nội tổng quát</p>
        <p><strong>Kinh nghiệm:</strong> 10 năm</p>
        <p>Bác sĩ Trần Nguyễn Đức Minh có hơn 10 năm kinh nghiệm trong việc chẩn đoán và điều trị các bệnh lý nội khoa. Ông cũng
            là giảng viên thỉnh giảng tại các trường đại học y khoa.</p>
    </div>
    <div class="doctor">
        <h3>Bác sĩ Trương Nguyên Chương</h3>
        <p><strong>Chuyên khoa:</strong> Nhi khoa</p>
        <p><strong>Kinh nghiệm:</strong> 8 năm</p>
        <p>Bác sĩ Trương Nguyên Chương chuyên điều trị các bệnh lý nhi khoa và đặc biệt là chăm sóc trẻ em. Ông có bằng Thạc sĩ Y
            khoa tại Đại học Y Hà Nội.</p>
    </div>
    <div class="doctor">
        <h3>Bác sĩ Lư Hiếu Trung</h3>
        <p><strong>Chuyên khoa:</strong>Chăm sóc bệnh nhân</p>
        <p><strong>Kinh nghiệm:</strong> 8 năm</p>
        <p>Bác sĩ Lư Hiếu Trung chuyên chăm sóc bệnh nhân và đặc biệt là chăm sóc trẻ em. Ông có bằng Thạc sĩ Y
            khoa tại Đại học Y Hà Nội.</p>
    </div>
</section>

</body>

{%endblock%}