{% extends 'layout/base.html' %}

{% block title %}Đăng ký tài khoản{% endblock %}

{% block content %}
<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<section class="container mt-5 pt-5" style="margin-bottom: 100px">

    {% if err_msg %}
    <div class="alert alert-danger text-center mb-4">
        {{ err_msg }}
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg p-4 rounded border border-2">
                <form method="POST" enctype="multipart/form-data">
                    <div class="text-center mb-4">
                        <h1 class="fw-bold text-primary">ĐĂNG KÝ</h1>
                        <p class="text-muted">Thông tin tài khoản</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Nhập họ tên" name="name"
                               required>
                        <label for="name">Họ và Tên</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ"
                               required>
                        <label for="address">Địa chỉ</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="day_of_birth" name="day_of_birth" required>
                        <label for="day_of_birth">Ngày sinh</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="gender" name="gender" required>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <label for="gender">Giới tính</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="phone" name="phone" maxlength="10" placeholder="Số điện thoại"
                               required>
                        <label for="phone">Số điện thoại</label>
                        <div id="phone-feedback" class="invalid-feedback" style="display: none;"></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                        <label for="email">Email</label>
                        <div id="email-feedback" class="invalid-feedback" style="display: none;"></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Tên đăng nhập" required>
                        <label for="username">Tên đăng nhập</label>
                        <div id="username-feedback" class="invalid-feedback" style="display: none;"></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu"
                               name="password" required>
                        <label for="password">Mật khẩu</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirm" placeholder="Nhập lại mật khẩu"
                               name="confirm" required>
                        <label for="confirm">Nhập lại mật khẩu</label>
                        <div id="confirm-feedback" class="invalid-feedback" style="display: none;">Mật khẩu không
                            khớp!
                        </div>
                    </div>

                    <p class="text-center mb-4 text-muted"> Ảnh đại diện của bạn</p>
                    <div class="form-floating mb-3">
                        <input type="file" class="form-control" id="avatar" name="avatar"/>
                    </div>

                    <div class="d-grid mb-3">
                        <button class="btn btn-primary btn-lg rounded-pill" type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    let isFormValid = true;
    document.getElementById('password').addEventListener('input', checkPasswords);
    document.getElementById('confirm').addEventListener('input', checkPasswords);

    function checkField(inputId, value) {
        fetch('/check_account', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ [inputId]: value })  // Gửi theo key là tên của trường nhập liệu
        })
        .then(response => response.json())
        .then(data => {
            const feedback = document.querySelector(`#${inputId}-feedback`);
            const input = document.getElementById(inputId);

            if (data.status === 'error') {
                // Hiển thị thông báo lỗi nếu có
                input.classList.add('is-invalid');
                feedback.innerHTML = data.messages.join('<br>');
                feedback.style.display = 'block';
                isFormValid = false;  // Đặt trạng thái form không hợp lệ
            } else {
                // Xóa thông báo lỗi nếu không có
                input.classList.remove('is-invalid');
                feedback.style.display = 'none';
                isFormValid = true;  // Đặt trạng thái form hợp lệ
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.getElementById('username').addEventListener('input', function () {
        checkField('username', this.value);
    });
    document.getElementById('email').addEventListener('input', function () {
        checkField('email', this.value);
    });
    document.getElementById('phone').addEventListener('input', function () {
        checkField('phone', this.value);
    });

    function checkPasswords() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm').value;

        const feedback = document.getElementById('confirm-feedback');
        const confirmInput = document.getElementById('confirm');

        if (password !== confirmPassword) {
            confirmInput.classList.add('is-invalid');  // Thêm class lỗi nếu không khớp
            feedback.style.display = 'block';  // Hiển thị thông báo lỗi
        } else {
            confirmInput.classList.remove('is-invalid');  // Xóa class lỗi nếu khớp
            feedback.style.display = 'none';  // Ẩn thông báo lỗi
        }
    }

    document.querySelector('form').addEventListener('submit', function (event) {
        if (!isFormValid) {
            event.preventDefault();
            alert('Vui lòng sửa thông tin hợp lệ');
        }
    });
</script>

{% endblock %}
