{% extends 'layout/base.html' %}

{% block title %}Lập phiếu khám bệnh{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1>Kiểm Tra Số Điện Thoại</h1>
<div style="margin-top:50px; margin-bottom: 50px">
    <form method="POST" id="phone-check-form">
        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Số điện thoại"
                   required>
            <label for="phone_number">Số điện thoại</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" id="submit-button">Kiểm tra</button>
        </div>
    </form>

</div>
{% endblock %}
