{%extends 'layout/base.html'%}

{% block title %}Xác nhận đăng ký khám{% endblock %}

{%block content%}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>
{% if current_user.is_authenticated and current_user.type=="nurse" %}
<h1 class="text-center text-primary my-4 fw-bold">Danh Sách Bệnh Nhân Đăng Ký</h1>
<div class="container shadow-lg rounded p-4 bg-white border border-2" style="margin-bottom: 50px;">

    <table class="table table-hover table-bordered text-center">
        <thead class="bg-primary text-white">
        <tr>
            <th scope="col" class="py-3">Họ và Tên</th>
            <th scope="col" class="py-3">Giờ Đặt Lịch</th>
            <th scope="col" class="py-3">Ngày Đặt</th>
            <th scope="col" class="py-3">Mô Tả Bệnh</th>
            <th scope="col" class="py-3">Thao Tác</th>
            <th scope="col" class="py-3">Hủy</th>
        </tr>
        </thead>
        <tbody>
        {% for r in reg %}
        <tr>
            <td class="align-middle">{{ r.patient.name }}</td>
            <td class="align-middle">
                {{ r.time.period }}
            </td>
            <td class="align-middle">
                {{ r.booked_date.strftime('%d/%m/%Y') }}
            </td>
            <td class="align-middle">{{ r.desc }}</td>
            <td class="align-middle">
                <form method="POST" action="/nurse/confirm-registration" class="d-inline-block">
                    <input type="hidden" name="registration_id" value="{{ r.id }}">
                    <input type="hidden" name="time" value="{{ r.time.id }}">
                    <input type="hidden" name="date" value="{{ r.booked_date }}">
                    <button type="submit" class="btn btn-success shadow-sm">
                        Xác nhận
                    </button>
                </form>
            </td>
            <td class="align-middle">
                <form method="POST" action="/nurse/cancel-registration" class="d-inline-block">
                    <input type="hidden" name="registration_id" value="{{ r.id }}">
                    <button type="submit" class="btn btn-danger shadow-sm">
                        Hủy
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-4">

        <form method="POST" action="/nurse/confirm-all-registrations">
            <button type="submit" class="btn btn-success fw-bold shadow-sm" style="margin-top: 20px">
                Xác nhận toàn bộ
            </button>
        </form>

        <div id="message-container" class="alert alert-danger d-none"></div>
    </div>
</div>
{%endif%}
{%endblock%}
