{%extends 'layout/base.html'%}

{% block title %}Xác nhận đăng ký khám{% endblock %}

{%block content%}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1>Danh Sách Bệnh Nhân Đăng Ký</h1>
<div class="container mt-5" style="margin-bottom: 50px">
    <div class="d-flex justify-content-between">
        <!-- Thêm nút "Xác nhận toàn bộ" -->
        <form method="POST" action="/nurse/confirm-all-registrations">
            <button type="submit" class="btn btn-primary">Xác nhận toàn bộ</button>
        </form>
    </div>
    <div class="danger alert-danger" id="message-container"></div>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Giờ đặt lịch</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Mô tả bệnh</th>
            <th scope="col">Thao tác</th>
            <th scope="col">Hủy</th> <!-- Thêm cột Hủy -->
        </tr>
        </thead>
        <tbody>
        {% for r in reg %}
        <tr name={{r.id}}>
            <td>{{ r.patient.name }}</td>
            <td>{{ r.time.period }}</td>
            <td>{{ r.booked_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ r.desc }}</td>
            <td>
                <form method="POST" action="/nurse/confirm-registration">
                    <input type="hidden" name="registration_id" value="{{ r.id }}">
                    <button type="submit" class="book-btn btn btn-success">Xác nhận</button>
                </form>
            </td>
            <td>
                <!-- Thêm nút Hủy -->
                <form method="POST" action="/nurse/cancel-registration">
                    <input type="hidden" name="registration_id" value="{{ r.id }}">
                    <button type="submit" class="btn btn-danger">Hủy</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}
