{% extends 'layout/base.html' %}

{% block title %}Đặt lịch khám{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<section>
    <h1>Đăng Ký Lịch Khám</h1>
    <div class="container my-5" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="alert alert-info">
            Bệnh nhân tên là {{patient_name}}. Có thể đăng kí lịch khám.
        </div>
        {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}

        {% if success_msg %}
        <div class="alert alert-success">{{ success_msg }}</div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            <div class="form-floating mb-3 mt-3">
                <select class="form-control" id="buoiKham" aria-label="Chọn buổi khám" name="time">
                    {% for t in time %}
                    <option value="{{ t.id }}"> {{ t.period }}</option>
                    {% endfor %}
                </select>
                <label for="buoiKham">Chọn buổi khám</label>
            </div>


            <div class="form-floating mb-3 mt-3">
                <input type="date" class="form-control" id="ngayKham" name="date" placeholder="Chọn ngày khám">
                <label for="ngayKham">Ngày khám</label>
            </div>


            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="trieuchung" name="symptom" placeholder="Triệu chứng">
                <label for="trieuchung"> <i class='fas fa-pen'></i> Triệu chứng</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
