<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand me-2" href="/">
            <img
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    height="16"
                    alt="Care Plus Logo"
                    loading="lazy"
                    style="margin-top: -1px; width: 40px; height:40px;"/>
        </a>
        <button
                data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            {%if current_user.is_authenticated%}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i> Trang chủ &nbsp;</a></li>
                    {%if current_user.type=="patient"%}
                        <li class="nav-item"><a class="nav-link" href="/patient/medical-schedule"><i class='fas fa-calendar'></i> Xem lịch khám bệnh &nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" href="/patient/booking"><i class='fas fa-file-import'></i> Đặt lịch khám &nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" href="/patient/history"><i class='fas fa-history'></i> Lịch sử khám bệnh &nbsp;</a></li>
                    {%elif current_user.type=="cashier"%}
                        <li class="nav-item"><a class="nav-link" href="/cashier/check-receipt"><i class='fas fa-dollar-sign'></i> Thanh toán &nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cashier/receipt-list"><i class='fas fa-search'></i> Tra cứu hóa đơn &nbsp;</a></li>


                    {%elif current_user.type=="doctor"%}
                        <li class="nav-item"><a class="nav-link" href="/doctor/history-examination"><i class='fas fa-search'></i> Tra cứu lịch sử khám &nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" href="/doctor/examination-form"><i class='fas fa-file-alt'></i> Phiếu khám bệnh &nbsp;</a></li>


                    {%elif current_user.type=="nurse"%}
                        <li class="nav-item"><a class="nav-link" href="/nurse/patient-list"><i class='fas fa-paste'></i> Danh sách bệnh nhân &nbsp;</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false"><i class='fas fa-edit'></i> Phiếu khám bệnh </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/nurse/check-phone">Lập phiếu khám bệnh</a></li>
                                <li><a class="dropdown-item" href="/nurse/confirm-registration">Xác nhận đăng kí khám</a></li>
                            </ul>
                        </li>
                    {%endif%}
                </ul>
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-info" style="font-weight: bold; font-style: italic; font-size: 1.2em;" href="/info">
                        {%if current_user.avatar%}
                            <img src="{{current_user.avatar}}" width="30px" height="30px" class="rounded-circle" alt="{{current_user.name}}"/>
                        {%else%}
                            <img src="{{url_for('static', filename='images/default.jpg')}}" width="30px" height="30px" class="rounded-circle" alt="{{current_user.name}}"/>
                        {%endif%}
                        &nbsp;
                        {{current_user.name}}</a>
                </li>
                <li>" "</li>
                </ul>
                <div class="d-flex align-items-center">
                    <a href="/logout">
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" style="text-decoration: none; background-color: red; border-color: red;">
                            <i class='fas fa-sign-out-alt'></i> Đăng xuất
                        </button>
                    </a>
                </div>
            {%else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i> Trang chủ &nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/introduce"><i class='fas fa-hand-holding-medical'></i> Giới thiệu &nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service"><i class='fas fa-medkit'></i> Dịch vụ &nbsp;</a></li>
                </ul>

                <div class="d-flex align-items-center">
                    <a href="/login" class="btn btn-link px-3 me-2 text-white" style="text-decoration: none;">
                         <i class='fas fa-sign-in-alt'></i> Đăng nhập
                    </a>
                    <a href="/register">
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3"
                                style="text-decoration: none">
                            <i class="fa fa-user-plus"></i> Đăng ký
                        </button>
                    </a>
                </div>
            {%endif%}
        </div>
    </div>
</nav>