{% extends 'layout/base.html' %}

{% block title %}Thanh toán{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1 class="text-center text-primary fw-bold mt-3">Chi Tiết Hóa Đơn Thanh Toán</h1>

<div id="invoiceDetails" class="container shadow-lg rounded p-5 bg-white border border-2" style="margin-bottom: 100px">
    <!-- Tựa đề hóa đơn -->

    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    {% if success_message %}
    <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    {% if receipt %}
    <!-- Trạng thái thanh toán -->
    <div class="mb-4">
        <p class="text-center">
            <strong>Tên bệnh nhân: {{receipt.patient.name}}</strong>
        </p>
    </div>
    <div class="mb-4">
        <p class="text-center">
            <strong>Số điện thoại: {{receipt.patient.phone}}</strong>
        </p>
    </div>


    <!-- Form cho chi tiết hóa đơn -->
    <form method="POST" action="{{ url_for('cashing', receipt_id=receipt.id) }}">
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
            <tr class="text-center">
                <th scope="col" class="py-3">Tên Thuốc</th>
                <th scope="col" class="py-3">Số Lượng</th>
                <th scope="col" class="py-3"v>Đơn Vị</th>
                <th scope="col" class="py-3"v>Giá Thuốc</th>
                <th scope="col" class="py-3">Thành Tiền Thuốc</th>
            </tr>
            </thead>
            <tbody>
            {% for receipt_detail in receipt.receipt_details %}
            {% for medicine in receipt_detail.prescription.prescription_medicines %}
            <tr>
                <td scope="col" class="py-3">{{ medicine.medicine.name }}</td>
                <td scope="col" class="py-3 text-center">{{ medicine.quantity }}</td>
                <td scope="col" class="py-3 text-center">{{ medicine.medicine.unit }}</td>
                <td scope="col" class="py-3 text-center">{{ medicine.medicine.price }} VND</td>
                <td scope="col" class="py-3 text-center">
                    {{ (medicine.quantity * medicine.medicine.price) | float }} VND
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td scope="col" class="py-3" colspan="4" class="text-end"><strong>Thành Tiền Khám:</strong></td>
                <td scope="col" class="py-3 text-center"><strong>{{ receipt.examines_price }} VND</strong></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td scope="col" class="py-3" colspan="4" class="text-end"><strong>Tổng Thành Tiền:</strong></td>
                <td scope="col" class="py-3 text-center"><strong>{{ receipt.total_price }} VND</strong></td>
            </tr>
            </tfoot>
        </table>

        {% if not receipt.isPaid %}
        <div class="d-flex justify-content-end mt-4">
            <button id="saveInvoice" class="btn btn-success me-2" type="submit" name="action" value="save">Lưu Hóa Đơn
            </button>
        </div>
        {% endif %}
    </form>
    <div class="mb-4">
        <p class="text-center">
            <strong>Trạng Thái Thanh Toán:</strong>
            {% if receipt.isPaid %}
            <span class="text-success">Đã thanh toán</span>
            {% else %}
            <span class="text-danger">Chưa thanh toán</span>
            {% endif %}
        </p>
    </div>
    {% else %}
    <p>Không có hóa đơn để hiển thị.</p>
    {% endif %}
</div>
{% endblock %}