{% extends 'layout/base.html' %}

{% block title %}Thanh toán{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Hóa Đơn Thanh Toán</h2>

    <form method="POST" action="/cashier/cash">
        <div class="mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="invoiceCode" name="invoiceCode" placeholder="Mã hóa đơn">
                <label for="invoiceCode">Nhập mã bệnh nhân</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Tìm Kiếm</button>
        </div>
    </form>

    {% if receipt %}
        <!-- Nếu có hóa đơn, hiển thị thông tin hóa đơn -->
        <div id="invoiceDetails">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tên Thuốc</th>
                        <th>Số Lượng</th>
                        <th>Đơn Vị</th>
                        <th>Giá Thuốc</th>
                        <th>Thành Tiền</th>
                    </tr>
                </thead>
                <tbody id="invoiceItems">
                    {% for receipt_detail in receipt.receipt_details %}
                    <tr>
                        <td>{{ receipt_detail.prescription.prescription_medicines[0].medicine.name }}</td>
                        <td>{{ receipt_detail.prescription.prescription_medicines[0].quantity }}</td>
                        <td>{{ receipt_detail.prescription.prescription_medicines[0].medicine.unit }}</td>
                        <td>{{ receipt_detail.prescription.prescription_medicines[0].medicine.price }} VND</td>
                        <td>{{ receipt_detail.medicines_price }} VND</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end"><strong>Thành Tiền:</strong></td>
                        <td><strong>{{ receipt.total_price }} VND</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% else %}
        <p class="text-center">Không tìm thấy hóa đơn cho mã bệnh nhân này.</p>
    {% endif %}
</div>
{% endblock %}
