{% extends 'layout/base.html' %}

{% block title %}Thanh toán{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1 class="text-center text-primary fw-bold mt-3">Hóa Đơn Thanh Toán</h1>
<div class="container mt-5" style="margin-bottom: 50px">
    {%if err_msg%}
    <div class="alert alert-danger">{{err_msg}}</div>
    {%endif%}
    <form method="POST">
        <div class="mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="invoiceCode" name="invoiceCode" placeholder="Mã hóa đơn">
                <label for="invoiceCode">Nhập mã bệnh nhân</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Tìm Kiếm</button>
        </div>
    </form>

</div>
{% endblock %}
