{%extends 'layout/base.html'%}

{% block title %}Tra cứu hóa đơn{% endblock %}

{%block content%}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<h1 class="text-center text-primary fw-bold mt-3">Tra cứu hóa đơn</h1>
{%if err_msg%}
<div class="alert alert-danger">{{err_msg}}</div>
{%endif%}

<form method="POST" id="phone-check-form" class="container shadow-lg rounded bg-white border border-2" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="container my-5">

        <div class="d-flex justify-content-center">
            <div class="form-floating" style="width: 1700px">
                <input type="text" class="form-control rounded-pill" id="patientPhone" name="patientPhone" placeholder="Nhập SDT Bệnh Nhân">
                <label for="patientPhone" class="form-label">Số điện thoại của bệnh nhân</label>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill ms-3" style="width: 300px" id="searchBtn">Tìm kiếm</button>
        </div>

        <div class="table-responsive" id="invoiceTable" style="margin-top: 50px">
            <h4 class="mb-3 text-danger" style="text-align: center">Bảng Thống Kê Hóa Đơn</h4>
            <table class="table table-bordered text-center">
                <thead class="bg-primary text-white">
                <tr>
                    <th scope="col" class="py-3">Mã Hóa đơn</th>
                    <th scope="col" class="py-3">Tên Bệnh nhân</th>
                    <th scope="col" class="py-3">Ngày Khám</th>
                    <th scope="col" class="py-3">Trạng Thái Thanh Toán</th>
                    <th scope="col" class="py-3">Hành Động</th>
                </tr>
                </thead>
                <tbody>
                {% for ce in receipts %}
                <tr>
                    <td>{{ ce.id }}</td>
                    <td>{{ ce.patient.name }}</td>
                    <td>{{ ce.created_date.strftime('%d/%m/%Y') }}</td>
                    <td>
                        {% if ce.isPaid %}
                        <span class="text-success">Đã thanh toán</span>
                        {% else %}
                        <span class="text-danger">Chưa thanh toán</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('cashing', receipt_id=ce.id) }}" class="btn btn-info">Xem Chi Tiết</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{%endblock%}