{% extends 'layout/base.html' %}

{% block title %}Phiếu khám bệnh{% endblock %}

{% block content %}
<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

{% if current_user.is_authenticated and current_user.type=="doctor" %}
<h1 class="text-center text-primary fw-bold mt-3">Phiếu Khám Bệnh</h1>
<div class="container shadow-lg rounded p-5 bg-white border border-2" style="margin-top: 50px; margin-bottom: 100px">
    <form method="POST" enctype="multipart/form-data" >

        <div class="table-responsive table-sm mb-3">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="col" class="py-3">Mã phiếu khám</th>
                    <td scope="col" class="py-3">
                        <input type="hidden" id="examination_id" name="examination_id" value="{{registration.id}}">
                        {{ registration.id }}
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="py-3">Mã bệnh nhân</th>
                    <td scope="col" class="py-3">
                        <input type="hidden" id="patient_id" name="patient_id" value="{{registration.patient.id}}">
                        {{ registration.patient.id }}
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="py-3">Họ và tên:</th>
                    <td scope="col" class="py-3">
                        <input class="form-control" id="name" name="name" type="hidden">
                        {{ registration.patient.name }}
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="py-3">Ngày khám:</th>
                    <td scope="col" class="py-3">
                        <input class="form-control" id="datetime" type="hidden" name="datetime">
                        {{ registration.booked_date.strftime('%d/%m/%Y') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="disease" placeholder="Kết quả chuẩn đoán" name="disease" maxlength="200"
                   required>
            <label for="disease">Kết quả chuẩn đoán</label>
        </div>

        <div class="table-responsive mb-3">
            <table class="table table-bordered" id="medicineTable">
                <thead class="bg-primary text-white">
                <tr class="text-center">
                    <th scope="col" class="py-3">STT</th>
                    <th scope="col" class="py-3">Tên Thuốc</th>
                    <th scope="col" class="py-3">Số Lượng</th>
                    <th scope="col" class="py-3">Đơn Vị</th>
                    <th scope="col" class="py-3">Cách Dùng</th>
                    <th scope="col" class="py-3">Hành Động</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                    data-bs-target="#medicineModal">Thêm thuốc
            </button>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Lưu phiếu khám</button>
        </div>
    </form>
    <div class="mt-4 text-center">
        <a href="{{ url_for('examination_form') }}" class="btn btn-secondary">Quay lại</a>
    </div>
</div>


<div class="modal fade" id="medicineModal" tabindex="-1" aria-labelledby="medicineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="medicineModalLabel">Tra cứu thuốc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-3" id="searchInput" placeholder="Tìm tên thuốc"
                       onkeyup="filterMedicines()">

                <table class="table table-bordered" id="medicines">
                    <thead class="bg-primary text-white">
                    <tr class="text-center">
                        <th scope="col" class="py-3">Tên thuốc</th>
                        <th scope="col" class="py-3">Đơn vị</th>
                        <th scope="col" class="py-3">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medicine in medicines %}
                    <tr>
                        <td>{{ medicine.name }}</td>
                        <td class="text-center">{{ medicine.unit }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-success"
                                    onclick="selectMedicine('{{ medicine.name }}', '{{ medicine.unit }}')">Chọn
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endif%}
<script>
    function filterMedicines() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase(); // Lấy giá trị tìm kiếm
        const table = document.getElementById('medicines');
        const rows = table.getElementsByTagName('tr'); // Lấy tất cả các dòng trong bảng

        for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const medicineName = cells[0].textContent.toLowerCase(); // Lấy tên thuốc từ cột đầu tiên

            if (medicineName.includes(searchInput)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    }

    function selectMedicine(name, unit) {
        const table = document.getElementById('medicineTable').getElementsByTagName('tbody')[0];
        const rowCount = table.rows.length;
        const row = table.insertRow();

        row.innerHTML = `
            <td>${rowCount + 1}</td>
            <td><input type="text" class="form-control" value="${name}" name="medicineName" required></td>
            <td><input type="text" class="form-control" placeholder="Nhập số lượng" name="quantity" required></td>
            <td><input type="text" class="form-control" value="${unit}" name="unit" required></td>
            <td><input type="text" class="form-control" placeholder="Nhập cách dùng" name="usage" required></td>
            <td class="text-center"><button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">Xóa</button></td>
        `;

        const modal = bootstrap.Modal.getInstance(document.getElementById('medicineModal'));
        modal.hide();
    }

        function deleteRow(button) {
        const row = button.parentElement.parentElement;
        const table = row.parentElement;
        table.removeChild(row);

        Array.from(table.rows).forEach((row, index) => {
            row.cells[0].textContent = index + 1;
        });
    }
</script>
{% endblock %}
