{% extends 'layout/base.html' %}

{% block title %}Phiếu khám bệnh{% endblock %}

{% block content %}

<header>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
</header>

<div>
    <h1>Quản Lý Khám Bệnh</h1>
    <div class="row" style="margin-top: 50px;margin-bottom: 50px">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Danh sách bệnh nhân đăng ký</h3>
            <div class="alert alert-danger d-none" id="message-container"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Mã phiếu khám</th>
                    <th>Mã bệnh nhân</th>
                    <th>Họ và tên</th>
                    <th>Ngày khám</th>
                    <th>Triệu chứng</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                {% for r in reg %}
                <tr name="{{ r.id }}">
                    <td>{{r.id}}</td>
                    <td>{{r.patient.id}}</td>
                    <td>{{ r.patient.name }}</td>
                    <td>{{ r.booked_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ r.desc }}</td>
                    <td>
                        <a href="{{ url_for('examination_detail', registration_id=r.id) }}" class="btn btn-success">
                            Xác nhận
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
